body {
    margin-top: 30px;
    font-family: 'Courier New';
    font-size:x-large;
    font-weight: bold;
    background-image: url("../img/fondo.webp");
}

.myTareasPendientes{
    font-weight: bold;
    font-size: large;
    color: rgb(197, 177, 147);
    text-align: center;
}

.myFondo {
    border: 1px solid rgb(226, 226, 226);
    box-shadow: 5px 5px 5px rgb(178, 178, 178);
}

.separador {
    border-top: 1px solid rgb(195, 195, 195);
    height: 2px;
    padding: 0;
    margin: 20px auto 0 auto;
  }

ul {
    padding: 0px;
    margin-bottom: 2px;
}

ul li {
    border: nome;
    list-style: none;
    padding: 6px;
}

h1 {
    text-align: center;
}

input  {
    border: none;
    outline: none;
    width: 100%;
    background-color: transparent;
}

.fa-regular.fa-trash-can{
    float: right;
    padding-top: 5px;
}

div {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container-fluid {
    max-width: 500px;
    background-color:rgb(249, 245, 240);
}